autopep8==1.4.4
certifi==2019.9.11
chardet==3.0.4
dj-database-url==0.3.0
dj-static==0.0.6
Django==2.2.7
django-crispy-forms==1.8.0
django-debug-toolbar==1.9.1
django-toolbelt==0.0.1
django-widget-tweaks==1.4.2
entrypoints==0.3
flake8==3.7.7
gunicorn==19.3.0
idna==2.8
mccabe==0.6.1
Pillow==9.3.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
pycodestyle==2.5.0
pyflakes==2.1.1
pytz==2018.5
requests==2.22.0
sqlparse==0.2.4
static3==0.6.1
urllib3==1.25.7
